.userHeading {
  margin: 0 auto;
  background: linear-gradient(to bottom, #fff, #fbf2e9);
}
.userHeading p {
  color: lightgray;
  text-align: center;
  padding-top: 8px;
}

.userHeading h1 {
  font-size: 3rem;
  color: gray;
  text-align: center;
  padding-bottom: 10px;
}
