* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(to top, #fff, #fbf2e9);
}

.btn {
  text-transform: capitalize;
  color: black;
}
